
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="2; /myPage/myPage">
    <title>비밀번호 변경</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const session_user_id = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값


        const msg= "비밀 번호가 변경 되었습니다.";
        $(document).ready(function () {
            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#msg").html (msg);

        })

    </script>

</head>
<body>
<div class="container" style="height: 250px">
</div>
<div class="container" style="width: 300px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" id ="msg" style="text-align: center" >

        </div>
        <div class="col-md-12" style="text-align: center">
            <div>메인 페이지로 이동합니다.</div>
        </div>
    </div>
</div>
</body>
</html>
