<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>게시판 글보기</title>


    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />

    <script src="https://kit.fontawesome.com/9e30f8c908.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/table.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const session_user_id = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값
        const user_id = [[${rDTO.userId}]]; // 공지사항 게시글 작성자 아이디
        const nSeq = [[${rDTO.noticeSeq}]]; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함
        console.log([[${rDTO.contents}]]);
        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {
            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnEdit").on("click", function () {
                doEdit(); // 공지사항 수정하기 실행
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnDelete").on("click", function () {
                doDelete(); // 공지사항 수정하기 실행
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnList").on("click", function () {
                location.href = "/notice/noticeList"; // 공지사항 리스트 이동
            })
        })
        let edit = 1;

        //로그인 안했다면....
        if (session_user_id === "") {
            edit = 3;

//본인이 작성한 글이면 2가 되도록 변경
        } else if (session_user_id === user_id) {
            edit = 2;

        }else if(!(session_user_id === "")){
            edit = 4;
        }

        //수정하기
        function doEdit() {
            if (session_user_id === user_id) {
                location.href = "/notice/noticeEditInfo?nSeq=" + nSeq;

            } else if (session_user_id === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");

            }
        }

        //삭제하기
        function doDelete() {
            if (session_user_id === user_id) {
                if (confirm("작성한 글을 삭제하시겠습니까?")) {

                    // Ajax 호출해서 글 삭제하기
                    $.ajax({
                            url: "/notice/noticeDelete",
                            type: "post", // 전송방식은 Post
                            dataType: "JSON", // 전송 결과는 JSON으로 받기
                            data: {"_id": _id}, // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                            success:
                                function (json) { // /notice/noticeDelete 호출이 성공했다면..
                                    alert(json.msg); // 메시지 띄우기
                                    location.href = "/notice/noticeList"; // 공지사항 리스트 이동
                                }
                        }
                    )
                }

            } else if (session_user_id === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");

            }
        }

        /*]]>*/
    </script>

</head>
<body>
<nav class="navbar">

    <div class="navbar__logo">
        <i class="fas fa-blog"></i>
        <a href="/main/mainPage">Body Medic</a>
    </div>

    <ul class="navbar__menu">
        <li><a href="/main/mainPage">Main</a></li>
        <li><a href="/main/mainDiseaseSearch">Search</a></li>
        <li><a href="/notice/noticeList">Notice</a></li>
        <li><a href="/chat/chatGpt35">AI Search</a></li>>
        <li><a href="/user/logOut"  th:if="${session.SS_USER_ID!=null}">LogOut</a></li>>
        <li><a href="/myPage/myPage"  th:if="${session.SS_USER_ID!=null}">My Page</a></li>>
        <li><a href="/user/loginPage"  th:if="${session.SS_USER_ID==null}">Login</a></li>>
        <li><a href="/user/signForm" th:if="${session.SS_USER_ID==null}">Sign</a></li>>
    </ul>


</nav>
<hr/>
<br/>
<div class="divTable minimalistBlack">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">제목
            </div>
            <div class="divTableCell" th:text="${rDTO.title}"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">공지글 여부
            </div>
            <div class="divTableCell">
                예<input type="radio" name="noticeYn" th:checked="${rDTO.noticeYn eq 'Y'}"/>
                아니오<input type="radio" name="noticeYn" th:checked="${rDTO.noticeYn eq 'N'}"/>
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">작성일</div>
            <div class="divTableCell" th:text="${rDTO.regDt}"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">조회수</div>
            <div class="divTableCell" th:text="${rDTO.readCnt}"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">내용</div>
            <div class="divTableCell" th:text="${rDTO.contents}"></div>
        </div>
    </div>
</div>
<div>
    <button id="btnEdit" type="button">수정</button>
    <button id="btnDelete" type="button">삭제</button>
    <button id="btnList" type="button">목록</button>
</div>
<section>
    <div class="container my-5 py-5">
        <div id="comment-count">

        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12">
                <div id="comments" class="card text-dark"></div>
                <div class="pb-5 col-md-12"  style="text-align: center; margin-bottom: 50px;" id="paging"></div>
                <!-- Write Comment -->
                <div class="insertForm card-footer py-3 border-0" style="background-color: #f8f9fa">
                    <div class="form-outline form-floating w-100">
                        <input type="hidden" id="user_id" name="user_id" th:value="|${session.SS_USER_ID}|" />
                        <p style="font-size: 20px;font-weight: bold" th:text="|${session.SS_USER_ID}|"></p>
                        <input type="hidden" id="notice_seq" name="notice_seq" th:value="${rDTO.noticeSeq}" />
                        <textarea class="form-control form-control-lg" id="contents" name="contents" rows="6" style="background: #fff; font-size: 16px" placeholder="댓글 작성"></textarea>
                        <label class="form-label"><br><br>댓글 작성</label>
                    </div>
                    <div class="float-end mt-2 pt-1">
                        <button type="button" id="writeCommentBtn" class="insert btn btn-primary" >댓글 쓰기</button>
                    </div>
                </div>
                <!-- Write Comment -->
            </div>

        </div>
    </div>
</section>


<script type="text/javascript">
    //페이지 시작
    $(document).ready(
        function GetComment() {
            var page = document.location.href;
            page = page.substring(page.indexOf("=") + 1);

            let id = session_user_id;
            let otherlist = false;
            let prev;
            let next;
            let num = 1;
            let startPageNum;
            let endPageNum;
            $(".insert").click(insertComment);
            PageCount(num);
            //댓글 페이징
            function PageCount(value){


                $.ajax({
                    type: "GET",
                    url: "/notice/CommentPage",
                    dataType: "json",
                    data: {notice_seq: page, num: value.toString()},
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    error: function () {
                        console.log('통신eee실패!!');
                    },success:function (data){
                        console.log(data);
                        let paging = data;
                        num = Number(paging.num);
                        startPageNum = paging.startPageNum;
                        endPageNum = paging.endPageNum;
                        prev = paging.prev;
                        next = paging.next;
                        let pagehtml ="<div>";

                        if(prev){
                            pagehtml+="<button  class='page btn btn-secondary' type='button' value='"+(num-1)+"'>"+"<<"+"</button>";

                        }

                        for (let i = startPageNum; i <= endPageNum; i++) {
                            if(num === i) {

                                pagehtml+="<button class='page btn btn-secondary' type ='button' value='"+i+"'>"+i+"</button>"+"&nbsp";

                            } else {

                                pagehtml+= "<button class='page btn btn-secondary' type ='button' value='"+i+"'>"+i+"</button>"+"&nbsp";


                            }
                        }

                        if(next){
                            pagehtml+="<button type='button' class='page btn btn-secondary' value='"+(num+1)+"'>"+">>"+"</button>";
                        }
                        $("#paging").html(pagehtml);
                        $(".page").click(clickvalue);
                        num =value;

                    }
                })  //댓글 리스트
                $.ajax({
                    type: "GET",
                    url: "/notice/Comment",
                    dataType: "json",
                    data: {notice_seq: page,num: value},
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    error: function () {
                        console.log('통신실패!!');
                    },
                    success: function (data) {
                        let html = "<div id='comment-list' >";
                        console.log(data);
                        $.each(data, (index, obj) => {
                            let comment = JSON.parse(obj);
                            console.log(comment);
                            let comment_seq = comment.commentSeq;

                            let contents = comment.contents;
                            let user_id = comment.userId;
                            let ref = comment.ref;
                            let ref_rank = comment.refRank;
                            let chg_dt = comment.chgDt;
                            let reg_dt = comment.regDt;
                            html += "<div class='co'>";
                            html += "<div class='d-flex flex-start card-body p-4'>";

                            if (ref_rank > 0) {
                                html += "<div style='margin-left: 3%'>";  //1

                                html += "<div class='d-flex align-items-center mb-1'>";

                                html += "<h6 class='fw-bold mb-0 me-1 user_id'>" + user_id + "</h6>";
                                html += "<span class='badge bg-primary'>작성자</span>";
                                html += "<a class='link-muted'><i class='updatestart fas fa-pencil-alt ms-2'></i></a>";
                                html += "<a class='link-muted'><i class='insertReply fas fa-comment-alt ms-2'></i></a>";
                                html += "<a class='link-muted'><i class='delete fas fa-trash ms-2'></i></a>";
                                html += "</div>";
                                html += "<div class='d-flex align-items-center mb-3'>";

                                html += "<p class='mb-0'>" + chg_dt + "</p>";
                                if (chg_dt !== reg_dt) {
                                    html += "<p class='mb-0'>" + "&nbsp(수정됨)" + "</p>";
                                }
                                html += "</div>";

                                html += "<p class='mb-0'>" + contents + "</p>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='comment_seq' style='display: none'>" + comment_seq + "</div>";


                                html += "<hr class='my-0' />";
                            }else {
                                html += "<div>";
                                html += "<div class='d-flex align-items-center mb-1'>";
                                html += "<h6 class='fw-bold mb-0 me-1 user_id'>" + user_id + "</h6>";
                                html += "<span class='badge bg-primary'>작성자</span>";
                                html += "<a class=' link-muted'><i class='updatestart fas fa-pencil-alt ms-2'></i></a>";
                                html += "<a class=' link-muted'><i class='insertReply fas fa-comment-alt ms-2'></i></a>";
                                html += "<a class=' link-muted'><i class='delete fas fa-trash ms-2'></i></a>";
                                html += "</div>";
                                html += "<div class='d-flex align-items-center mb-3'>";
                                html += "<p class='mb-0'>" + chg_dt + "</p>";
                                if (chg_dt !== reg_dt) {
                                    html += "<p class='mb-0'>" + "&nbsp(수정됨)" + "</p>";
                                }
                                html += "</div>";
                                html += "<p class='mb-0'>" + contents + "</p>";
                                html += "</div>";
                                html += "</div>";
                                html += "<div class='comment_seq' style='display: none'>" + comment_seq + "</div>";


                                html += "<hr class='my-0' />";
                            }


                            if (ref_rank > 0) {
                                html += "<div class = 'updateForm' style='display:none; margin-left: 50px'>";

                                html += "<textarea class ='contents form-control ' name = 'contents' style='background-color: whitesmoke'>" + contents + "</textarea>";
                                html += "<input name ='comment_seq' class = 'comment_seq' type='hidden' value=" + comment_seq + ">"+ "&nbsp";
                                html += "<button type='button' class='update btn btn-primary' >"+"수정 완료"+"</button>" + "&nbsp";
                                html += "<button type='button' class='cancel btn btn-primary'>"+"취소"+"</button>";
                            } else {
                                html += "<div class = 'updateForm' style='display:none;'>";

                                html += "<textarea class ='contents form-control ' name = 'contents' style='background-color: whitesmoke' >" + contents + "</textarea>";
                                html += "<input name ='comment_seq' class = 'comment_seq' type='hidden' value=" + comment_seq + ">";
                                html += "<button type='button' class='update btn btn-primary' >"+"수정 완료" +"</button>"+ "&nbsp";
                                html += "<button type='button' class='cancel btn btn-primary'>"+"취소"+"</button>";
                            }
                            html += "</div>";

                            html += "<div class = 'replyForm' style='display: none'>";

                            html += "<textarea class ='contents form-control ' name = 'contents' style='background-color: whitesmoke'>"+ "</textarea>";
                            html += "<input name ='notice_seq' class = 'notice_seq' type='hidden' value=" + page + ">";
                            html += "<input name ='user_id' class = 'user_id' type='hidden' value=" + id + ">";
                            html += "<input name ='ref' class = 'ref' type='hidden' value=" + ref + ">";
                            html += "<input name ='ref_rank' class = 'ref_rank' type='hidden' value=" + ref_rank + ">";
                            html += "<button class='reply btn btn-primary' name ='reply' type='button'  '>" + "등록" + "</button>"+ "&nbsp";
                            html += "<button type='button' class='cancel btn btn-primary'>"+"취소"+"</button>";

                            html += "</div>";

                            html += "<hr class='my-0' />";
                            html +="</div>"
                        });

                        html += "</div>";
                        $("#comments").html(html);
                        $(".updatestart").click(getUpdateList);
                        $(".insertReply").click(getReplyForm);
                        $(".update").click(upDate);
                        $(".reply").click(reply);
                        $(".delete").click(DeleteComment);
                        $(".cancel").click(CancelComment);
                        CommentCount();
                    }
                });
            }
            //작성 취소
            function CancelComment(){
                PageCount(num);
            }

            //댓글 입력 ajax
            function insertComment() {

                let notice_seq = document.querySelector('#notice_seq').value;
                let user_id = document.querySelector('#user_id').value;
                let contents= document.querySelector('#contents').value;
                if(user_id == null||user_id ===""){
                    alert("로그인 후 이용해주세요")
                }else{
                    $.ajax({
                        type: "post",
                        url: "/notice/InsertComment",
                        data: {notice_seq:notice_seq,user_id:user_id,contents:contents},
                        contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                        error: function () {},
                        success: function (data) {
                            document.querySelector('#contents').value = "";
                            PageCount(num);


                        }
                    })
                }
            }
            //ajax 현재 위치로 재호출
            function clickvalue(){
                let value = this.value;
                PageCount(value);
            }
            //댓글 갯수 ajax
            function CommentCount(){

                $.ajax({
                    type: "GET",
                    url: "/notice/CommentCount",
                    dataType: "text",
                    data: {notice_seq: page},
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    error: function () {
                    },success(data){
                        let count = Number(data);

                        let counthtml ="<h4 class='mb-3'>"+"댓글 갯수 : "+count+"개"+"</h4>"
                        $("#comment-count").html(counthtml);

                    }
                })
            }
            //댓글 삭제 ajax
            function DeleteComment(){

                let login_yn = edit;
                let comment = document.querySelector("h6.user_id").innerHTML;
                let choice = false;

                if (login_yn === "2"||id === comment) {

                    choice = confirm("댓글을 삭제하시겠습니까?");


                }else if(login_yn==="3") {
                    alert("로그인 후 이용해 주세요");
                }else{
                    alert("사용자가 일치하지 않습니다.")
                }

                if(choice){
                    let comment_seq = $(this).parents("div").children("div.comment_seq").html();

                    $.ajax({
                        type:"delete",
                        url:"/notice/commentDelete",
                        data:{comment_seq: comment_seq} ,
                        contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                        error: function () {
                        },
                        success: function (data) {
                            PageCount(num);

                        }
                    })
                }
            }
            // 다른 창 전부 끄기
            function otherExit(){
                let otherlist = document.getElementsByClassName("replyForm");
                let otherlist2 = document.getElementsByClassName("updateForm");
                for(let i = 0; i<otherlist.length;i++){
                    otherlist[i].style.display = "none";
                }
                for(let i = 0; i<otherlist2.length;i++){
                    otherlist2[i].style.display = "none";
                }

            }
            //대댓글 폼 보이기
            function getReplyForm() {

                if (edit !== 3) {
                    let ReplyForm = $(this).closest("div.co").children("div.replyForm");
                    otherExit();
                    ReplyForm.css("display", "inline");
                } else {
                    alert("로그인 후 이용해 주세요");
                }
            }
            //댓글 수정 폼 보이기
            function getUpdateList() {
                otherExit();
                let comment = $(this).closest("div.card-body")
                let updateform = $(this).closest("div.co").children("div.updateForm");

                updateform.css("display", "inline");
                comment.css("display", "none");

            }
            //수정 ajax
            function upDate() {
                console.log("시발 왜안돼는데")
                let contents = $(this).closest("div").children("textarea").val();
                let comment_seq = $(this).closest("div").children("input").val();
                console.log(contents);
                console.log(comment_seq);
                $.ajax({
                    type: "post",
                    url: "/notice/CommentUpdate",
                    data: {comment_seq: comment_seq, contents: contents},
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    error: function () {
                    },
                    success: function (data) {
                        PageCount(num);
                    }
                })

            }
            //대댓글 ajax
            function reply() {
                let val = $(this).closest("div").children("input");


                let contents = $(this).closest("div").children("textarea").val();
                let notice_seq = $(this).closest("div").children("input.notice_seq").val();
                let user_id = $(this).closest("div").children("input.user_id").val();
                let ref = $(this).closest("div").children("input.ref").val();
                let ref_rank = $(this).closest("div").children("input.ref_rank").val();
                if (user_id == null || user_id === "") {
                    alert("로그인 후 이용해주세요")
                } else {
                    $.ajax({
                        type: "post",
                        url: "/notice/InsertReply",
                        data: {
                            notice_seq: notice_seq,
                            user_id: user_id,
                            contents: contents,
                            ref: ref,
                            ref_rank: ref_rank
                        },
                        contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                        error: function () {

                        },
                        success: function (data) {

                            PageCount(num);
                        }
                    })
                }
            }
        })
</script>
</body>
</html>

