<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 화면</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/table.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript">
        //회원가입 정보의 유효성 체크하기
        function doRegUserCheck() {
            let uid = document.getElementById("validationServer01");
            let name = document.getElementById("validationServer02");
            let pass = document.getElementById("validationServerUserpass");
            let pass2 = document.getElementById("validationServerUserpass2");
            let email = document.getElementById("validationServerUseremail")

            if (uid.value === "") {
                alert("아이디를 입력하세요.");
                uid.focus();
                return false;
            }

            if (name.value === "") {
                alert("닉네임을 입력하세요.");
                name.focus();
                return false;
            }

            if (pass.value === "") {
                alert("비밀번호를 입력하세요.");
                pass.focus();
                return false;
            }
            let reg = new RegExp("^[a-z0-9_-]{8,15}$") ;
            if( !reg.test(pass.value) ) {
                alert("비밀번호 정규식 규칙 위반!!");
                return false;
            }
            if (pass2.value === "") {
                alert("비밀번호확인을 입력하세요.");
                pass2.focus();
                return false;
            }

            if (pass.value !== pass2.value) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                f.password.focus();
                return false;
            }

            if (email.value === "") {
                alert("이메일을 입력하세요.");
                email.focus();
                return false;
            }


        }


    </script>


</head>
<body>
<nav class="navbar">

    <div class="navbar__logo">
        <i class="fas fa-blog"></i>
        <a href="/main/mainPage">Body Medic</a>
    </div>

    <ul class="navbar__menu">
        <li><a href="/main/mainPage">Main</a></li>
        <li><a href="/main/mainDiseaseSearch">Search</a></li>
        <li><a href="/notice/noticeList">Notice</a></li>
        <li><a href="/chat/chatGpt35">AI Search</a></li>>
    </ul>


</nav>
<br/>


<form name="f" method="post"  action="/user/insertUserInfo" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">* 아이디 : <input class="form-control" id="validationServer01" type="text" name="user_id" style="width:400px"/></label><br/>
                <label for="validationServer02" class="form-label">* 이름 : <input class="form-control" id="validationServer02" type="text" name="user_name" style="width:400px"/></label><br/>

                <label  for="validationServerUserpass" class="form-label">* 비밀번호 : <input class="form-control" id="validationServerUserpass" type="password" name="password" style="width:400px"/></label><br/>
                <label  for="validationServerUserpass2" class="form-label">* 비밀번호확인 : <input class="form-control" id="validationServerUserpass2" type="password" name="password2" style="width:400px"/></label><br/>

                <label for="validationServerUseremail" class="form-label">* 이메일 : <input class="form-control" id="validationServerUseremail" type="email" name="email" style="width:400px"/> </label><br/>

                <button class="btn btn-primary" type="submit" onclick="return doRegUserCheck();">회원가입</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</form>


</body>
</html>